head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(name="format-detection" content="telephone=no")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  link(href="css/style.css" rel="stylesheet")
  link(rel="apple-touch-icon", sizes="180x180", href="img/favicons/apple-touch-icon.png?v=YAozW0W7J6")
  link(rel="icon", type="image/png", sizes="32x32", href="img/favicons/favicon-32x32.png?v=YAozW0W7J6")
  link(rel="icon", type="image/png", sizes="16x16", href="img/favicons/favicon-16x16.png?v=YAozW0W7J6")
  link(rel="manifest", href="img/favicons/site.webmanifest?v=YAozW0W7J6")
  link(rel="mask-icon", href="img/favicons/safari-pinned-tab.svg?v=YAozW0W7J6", color="#5bbad5")
  link(rel="shortcut icon", href="img/favicons/favicon.ico?v=YAozW0W7J6")
  meta(name="msapplication-TileColor", content="#ffc40d")
  meta(name="msapplication-config", content="img/favicons/browserconfig.xml?v=YAozW0W7J6")
  meta(name="theme-color", content="#ffffff")
  script(type='text/javascript').
    document.createElement("picture");
  block head
  title= pageTitle || "no title"
