.theme {
  margin-top: 50px;
  margin-bottom: 99px;

  &--modal {
    margin-bottom: 31px;
  }
}

.theme__title {
  @include visually-hidden;
}

.theme__header {
  display: flex;
  align-items: flex-end;
  margin-top: 80px;
  margin-bottom: 31px;

  &--modal {
    margin-top: 67px;
  }
}

.theme__number {
  display: block;
  font-size: 16px;
  line-height: 30px;
  color: $secondary-text-color;
}

.theme__name {
  margin: 0;
  margin-left: 19px;
  font-size: 16px;
  line-height: 30px;
  color: $secondary-text-color;

  &--modal {
    margin-left: 31px;
  }
}

.theme__choice {
  margin-left: 92px;
}

.theme__choice-link {
  font-size: 20px;
  line-height: 35px;
  text-decoration: none;
  color: $main-text-color;

  & svg {
    display: inline-block;
    vertical-align: middle;
    fill: $positive-accent-color;
    transition: 0.5s;
  }

  &:hover {

    & svg {
      fill: $positive-accent-color-hover;
    }

    .theme__choice-text::after {
      background-color: rgba($main-text-color, 0);
    }
  }
}

.theme__choice-text {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 6px;
    width: 100%;
    height: 1px;
    background-color: rgba($main-text-color, 0.15);
    transition: 0.5s;
  }
}

.theme__amount {
  margin-left: auto;
  margin-right: 181px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 30px;
  color: $secondary-text-color;

  @media (min-width: 1364px) {
    margin-right: 192px;
  }

  @media (min-width: 1600px) {
    margin-right: 222px;
  }

  &--modal {
    margin-right: 22px;

    @media (min-width: 1364px) {
      margin-right: 22px;
    }

    @media (min-width: 1600px) {
      margin-right: 22px;
    }
  }
}
