mixin theme(subject)
  include ../../blocks/subjects-header/subjects-header
  include ../../blocks/theme-card/theme-card

  - var subjectsInfo = require('./source/blocks/subjects-kim/data');

  section.theme
    h1.theme__title темы для подготовки к егэ
    +subject-header(subjectsInfo.find((it) => it.type === subject))
    .theme__header
      span.theme__number #
      p.theme__name Тема
      .theme__choice
        a.theme__choice-link(href="#")
          svg(version="1.1", xmlns="http://www.w3.org/2000/svg", width="22px", height="22px")
            use(xlink:href="#edit-sign")
          span.theme__choice-text Выбрать несколько тем
      p.theme__amount Кол-во заданий
    +theme-card(subjectsInfo.find((it) => it.type === subject))