include ../subject-card/subject-card

- var subjectCars = require('./source/blocks/subjects/data');

section.subjects
  h1.subjects__title!= "Онлайн-тренажер в&nbsp;помощь школьникам при подготовке к&nbsp;ЕГЭ"
  p.subjects__text!= "Самостоятельная подготовка к&nbsp;ЕГЭ через онлайн-сервис обходится в&nbsp;2&ndash;3 раза дешевле, чем индивидуальные занятия с&nbsp;репетитором, и&nbsp;при этом не&nbsp;нужно тратить время на&nbsp;дорогу. Наш онлайн-тренажер поможет тебе самостоятельно проверить знания и&nbsp;набить руку перед сдачей экзамена."
  .subjects__wrapper.subjects__wrapper--divider
    each item in subjectCars
      +subject-card(item)
