.subjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.subjects__title {
  @include main-title;
  margin-top: 20px;
}

.subjects__text {
  @include main-text;
  max-width: 97%;
  margin-top: 33px;
}

.subjects__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 90px;
  padding-bottom: 77px;

  /* добавляет разграничительную полосу после блока */
  &--divider::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 235px;
    height: 1px;
    background-color: $border-color;
  }
}
