.logo {
  margin-left: 30px;

  &--small {

    img {
      display: inline-block;
      vertical-align: top;
      width: 24px;
      height: 28px;
    }
  }

  &__link {
    display: block;
  }

  &__title {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    margin-left: 12px;
    margin-top: 5px;
    font-family: $secondary-font;
    font-size: 35px;
    line-height: 1.3;
    text-transform: uppercase;
    color: $navigation-text-color;
  }

  &__text {
    display: block;
    font-family: $main-font;
    font-size: 11px;
    letter-spacing: -0.5px;
  }
}
