mixin teacher-card(item)
  .teacher-card
    .teacher-card__wrapper
      picture
        source(srcset= item.imgs[1])
        img.teacher-card__img(src= item.imgs[0], alt= item.name, width="490", height="360")
    .teacher-card__content
      .teacher-card__container
        h2.teacher-card__title= item.name
        //- a.teacher-card__link(href="#")
        //-   svg(version="1.1", xmlns="http://www.w3.org/2000/svg", width="18px", height="11px")
        //-     use(xlink:href="#vk-sign")
        //-   span.teacher-card__link-note профиль преподавателя во вконтакте
      p.teacher-card__subject
        each status in item.status
          span.teacher-card__label= status
        span.teacher-card__subject-icons
          each subject, index in item.subjectCodes
            svg(version="1.1", xmlns="http://www.w3.org/2000/svg", width="26px", height="26px")
              use(xlink:href="#" + subject + "-sign")
            span.teacher-card__subject-name= item.subject[index]
      if item.education
        h3.teacher-card__subtitle Образование
        ul.teacher-card__list
          each param in item.education
            li.teacher-card__item!= param
      if item.expirience
        h3.teacher-card__subtitle Опыт
        ul.teacher-card__list
          each param in item.expirience
            li.teacher-card__item!= param