.teacher-card {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 30px;
  border: solid 1px $border-color;
  border-radius: 3px;
  box-sizing: border-box;

  &__wrapper {
    position: relative;

    picture {
      line-height: 0;
    }

    &::before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 100%;
      height: 30px;
      background-image: url("../img/teacher-shape.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__img {
    width: 100%;
    max-height: 360px;
    margin-top: -1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    object-position: top;
  }

  &__content {
    margin-top: 32px;
    padding-left: 39px;
    padding-right: 37px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @include subtitle;
  }

  &__link {
    margin-top: 3px;

    svg {
      fill: $heading-color;
      transition: 0.5s;
    }

    &:hover,
    &:focus {

      svg {
        fill: $main-cover-color;
      }
    }
  }

  &__link-note {
    @include visually-hidden;
  }

  &__subject {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0;
    margin-bottom: 61px;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -33px;
      width: 30px;
      height: 1px;
      background-color: $border-color;
    }

    svg {
      margin-right: 4px;
    }
  }

  &__label {
    margin-right: 20px;
    padding-left: 14px;
    margin-top: 14px;
    padding-right: 14px;
    font-size: 14px;
    line-height: 30px;
    color: $main-text-color;
    background-color: $intermediate-accent-color;
    border-radius: 15px;

    & + & {
      color: $secondary-cover-color;
      background-color: $negative-accent-color;
    }
  }

  &__subject-icons {
    display: flex;
    padding-top: 14px;
    align-items: center;
  }

  &__subject-name {
    display: block;
    margin-right: 20px;
    color: $main-text-color;
  }

  &__subtitle {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: $main-text-color;
  }

  &__list {
    @include list-reset;
    max-width: 360px;
    padding-left: 14px;
  }

  &__item {
    position: relative;
    font-size: 18px;
    line-height: 30px;
    color: $main-text-color;

    &::before {
      position: absolute;
      content: "";
      left: -14px;
      top: 14px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $main-cover-shadow-color;
    }
  }

  &__item-number {
    color: $positive-accent-color;
  }
}
