.modal-notification.modal-notification--hidden
  button.btn.modal-notification__close(type="button")
    svg(version="1.1", xmlns="http://www.w3.org/2000/svg", width="18px", height="18px")
      use(xlink:href="#cross-sign-small")
    span.modal-notification__note закрыть окно и прервать тест
  p.modal-notification__text Ваш тест по обществознанию не закончен. Хотите продолжить его решение?
  .modal-notification__btns
    a.btn.modal-notification__link Да, продолжить
    button.btn.modal-notification__btn(type="button") Нет