.modal-notification {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 1;
  width: 480px;
  padding-left: 40px;
  padding-bottom: 40px;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0 0 50px 0 $box-shadow-color;
  background-color: $secondary-cover-color;

  &--hidden {
    display: none;
  }
}

.modal-notification__close {
  display: block;
  margin-left: auto;
  padding-right: 8px;
  padding-top: 10px;

  & svg {
    stroke: $heading-color;
    transition: 0.5s;
  }

  &:hover {

    & svg {
      stroke: $main-cover-color;
    }
  }
}

.modal-notification__note {
  @include visually-hidden;
}

.modal-notification__text {
  margin: 0;
  margin-top: -3px;
  max-width: 368px;
  font-size: 18px;
  line-height: 30px;
  color: $main-text-color;
}

.modal-notification__btns {
  display: flex;
  width: 100%;
  margin-top: 31px;
}

.modal-notification__link {
  display: block;
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 20px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: $navigation-text-color;
  background-color: $main-cover-color;
  transition: 0.5s;

  &:hover {
    background-color: $main-cover-shadow-color;
  }
}

.modal-notification__btn {
  display: block;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 20px;
  color: $main-text-color;
  background-color: $border-color;
  transition: 0.5s;

  &:hover {
    color: $navigation-text-color;
    background-color: $main-cover-color;
  }
}
