extends ../layout/layout
include ../../blocks/breadcrumbs/breadcrumbs

block head
  - var pageTitle = "О проекте";
  - var pageId = 4

block content
  main.page__content
    .page__wrapper
      +breadcrumbs("О проекте")
    include ../../blocks/about/about