extends ../layout/layout
include ../../blocks/breadcrumbs/breadcrumbs

block head
  - var pageTitle = "Курсы";
  - var pageId = 2

block content
  main.page__content
    .page__wrapper
      +breadcrumbs("Курсы")
    include ../../blocks/courses/courses