extends ../layout/layout
include ../../blocks/breadcrumbs/breadcrumbs

block head
  - var pageTitle = "Реквизиты компании";
  - var pageId = 6

block content
  main.page__content
    .page__wrapper
      +breadcrumbs("Реквизиты")
    include ../../blocks/credentials/credentials