extends ../layout/layout
include ../../blocks/breadcrumbs/breadcrumbs

block head
  - var pageTitle = "Как считаются баллы";
  - var pageId = 7

block content
  main.page__content
    .page__wrapper
      +breadcrumbs("Как считаются баллы")
    include ../../blocks/howto/howto