extends ../layout/layout
include ../../blocks/course-card/course-card

block head
  - var pageTitle = "Решай на сотку";
  - var pageId = 0;
  - var courses = require("./source/blocks/courses/data.js");

block content
  main.page__content
    .page__wrapper
    include ../../blocks/subjects/subjects
    section.courses
      h2.courses__title!= "Запишись на&nbsp;курсы прямо сейчас"
      p.courses__text!= "Чувствуешь, что экзамен совсем скоро, и&nbsp;сомневаешься, что сможешь набрать необходимый балл? Мы&nbsp;предлагаем тебе обрести уверенность с&nbsp;помощью этих курсов. Они помогут стать на&nbsp;шаг ближе к&nbsp;поступлению в&nbsp;лучшие ВУЗы страны."
      .courses__wrapper
        each item in courses
          +course-card(item)
    //- if (!developmentMode && (pageId === 0))
    //-   #vk_groups