extends ../layout/layout
include ../../blocks/breadcrumbs/breadcrumbs
include ../../blocks/subjects-kim/subjects-kim

block head
  - var pageTitle = "Русский язык (КИМ)";
  - var pageId = 1

block content
  main.page__content
    .page__wrapper
      +breadcrumbs("Русский язык")
    +subject-kim("russian")