extends ../layout/layout
include ../../blocks/breadcrumbs/breadcrumbs
include ../../blocks/subjects-kim/subjects-kim

block head
  - var pageTitle = "Литература (КИМ)";
  - var pageId = 1

block content
  main.page__content
    .page__wrapper
      +breadcrumbs("Литература")
    +subject-kim("literature")