extends ../layout/layout
include ../../blocks/breadcrumbs/breadcrumbs
include ../../blocks/subjects-kim/subjects-kim

block head
  - var pageTitle = "Математика (базовая) (КИМ)";
  - var pageId = 1

block content
  main.page__content
    .page__wrapper
      +breadcrumbs("Математика (базовая)")
    +subject-kim("mathematics")