extends ../layout/layout
include ../../blocks/breadcrumbs/breadcrumbs

block head
  - var pageTitle = "Преподаватели";
  - var pageId = 3

block content
  main.page__content
    .page__wrapper
      +breadcrumbs("Преподаватели")
    include ../../blocks/teachers/teachers
