extends ../layout/layout
include ../../blocks/breadcrumbs/breadcrumbs
include ../../blocks/theme/theme
include ../../blocks/modal/modal

block head
  - var pageTitle = "Тематический вариант по истории";
  - var pageId = 5;

block content
  main.page__content
    .page__wrapper
      +breadcrumbs("История")
    +theme("history")
    +modal("history")