extends ../layout/layout
include ../../blocks/breadcrumbs/breadcrumbs
include ../../blocks/theme/theme
include ../../blocks/modal/modal

block head
  - var pageTitle = "Тематический вариант по обществознанию";
  - var pageId = 5;

block content
  main.page__content
    .page__wrapper
      +breadcrumbs("Обществознание")
    +theme("social")
    +modal("social")