extends ../layout/layout
include ../../blocks/breadcrumbs/breadcrumbs
include ../../blocks/theme/theme
include ../../blocks/modal/modal

block head
  - var pageTitle = "Тематический вариант по русскому языку";
  - var pageId = 5;

block content
  main.page__content
    .page__wrapper
      +breadcrumbs("Русский язык")
    +theme("russian")
    +modal("russian")