include ../subject-card/subject-card

- var subjectCars = require('./source/blocks/subjects/data');

section.about
  h1.about__title!= "О&nbsp;проекте"
  p.about__text!= "В&nbsp;свое время мы&nbsp;начали изучать сервисы, которые помогут старшеклассникам быстро протестировать свои знания по&nbsp;ЕГЭ и&nbsp;получить объективный результат. К&nbsp;сожалению, в&nbsp;школах учителя проверяют варианты очень долго и&nbsp;необоснованно занижают или завышают баллы из-за личного отношения."
  picture
    //- source(srcset="img/about.jpg, img/about@2x.jpg 2x")
    img.about__img(src="img/about.jpg", width="1000", height="550", alt="О проекте")
  p.about__text.about__text--wider!= "Мы&nbsp;решили создать онлайн-сервис, который быстро показывает объективный результат и&nbsp;дает возможность в&nbsp;сжатые сроки получить индивидуальные рекомендации и&nbsp;разбор ошибок от&nbsp;экспертов, напрямую связанных с&nbsp;ЕГЭ."
  p.about__text!= "Остались вопросы? Пиши нам "
    a.about__link(href="//vk.com/podgotovka_k_ege") ВКонтакте
  .about__container
    section.subjects
      each item in subjectCars
        +subject-card(item)