.about {
  margin-top: 59px;

  &__title {
    @include main-title;
  }

  &__img {
    width: 100%;
    margin-bottom: 12px;
  }

  &__text {
    @include main-text;
    max-width: 93%;
    margin-top: 34px;
    margin-bottom: 49px;

    &--wider {
      max-width: 96%;
    }
  }

  &__link {
    @include link;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 89px;
    margin-bottom: 79px;
  }
}
