section.howto
  h1.howto__title Как считаются баллы?
  p.howto__text!= "Ориентировочный балл&nbsp;&mdash; это использующийся на&nbsp;сервисе аналог тестового балла, который получают на&nbsp;реальном ЕГЭ/ОГЭ."
  p.howto__text!= "Баллы за&nbsp;тест являются окончательной оценкой результата экзамена. Для его расчета первичные баллы конвертируются в&nbsp;тестовые с&nbsp;помощью специальной шкалы перевода. Шкала вычисляется для каждого задания отдельно и&nbsp;определяет, сколько тестовых баллов следует начислить за&nbsp;один первичный балл, полученный за&nbsp;это задание. При этом учитывается сложность, определенная на&nbsp;основе статистики по&nbsp;экзамену во&nbsp;всей стране,&nbsp;&mdash; чем меньше выпускников решили задание успешно, тем больше тестовых баллов будет начислено за&nbsp;него. На&nbsp;ЕГЭ суммарный тестовый балл выставляется по&nbsp;100-бальной шкале."
  p.howto__text!= "На нашем сервисе задания с развернутым ответом отправляются преподавателю, который после проверки выставит балл за данную часть варианта."
  p.howto__text!= "На&nbsp;странице результатов теста в&nbsp;поле Ориентировочный балл выводятся следующие оценки:"
  ul.howto__list
    li.howto__item!= "Тестовый балл (выделен синим цветом), вычисленный на&nbsp;основе полученного вами первичного балла. Этот балл соответствует тому, что вы&nbsp;бы получили за&nbsp;эти задания на&nbsp;реальном экзамене в&nbsp;предыдущем году."
    li.howto__item!= "Желтым цветом выделен максимальный балл, который вы&nbsp;могли&nbsp;бы получить при прохождении второй части. Реально полученный балл считает преподаватель, которому была принята ваша работа на&nbsp;проверку."
  p.howto__text!= "Перевод первичных баллов в&nbsp;тестовые выполняется на&nbsp;основе шкалы, использованной в&nbsp;предыдущем году."