.howto {

  &__title {
    @include main-title;
  }

  &__text {
    @include main-text;
    max-width: 93%;
    margin-top: 22px;
    margin-bottom: 0;
  }

  &__list {
    @include list-reset;
    padding-left: 14px;
  }

  &__item {
    position: relative;
    font-size: 18px;
    line-height: 30px;
    color: $main-text-color;

    &::before {
      position: absolute;
      content: "";
      left: -14px;
      top: 14px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $main-cover-shadow-color;
    }
  }
}
