mixin course-card(item)
  .course-card
    a.course-card__link(href=item.link)
      .course-card__img-wrapper(class=item.mod && ("course-card__img-wrapper--" + item.mod))
      .course-card__column
        h2.course-card__title!= item.title
        p.course-card__text!= item.description
        .course-card__info
          ul.course-card__list
            if item.duration
              li.course-card__item
                svg(version="1.1", xmlns="http://www.w3.org/2000/svg", width="19px", height="20px")
                  use(xlink:href="#duration-sign")
                span.course-card__item-text!= item.duration
            if item.scope
              li.course-card__item
                svg(version="1.1", xmlns="http://www.w3.org/2000/svg", width="23px", height="26px")
                  use(xlink:href="#lesson-sign")
                span.course-card__item-text!= item.scope
            if item.teachers
              li.course-card__item
                svg(version="1.1", xmlns="http://www.w3.org/2000/svg", width="26px", height="25px")
                  use(xlink:href="#expert-sign")
                span.course-card__item-text!= item.teachers
            if item.status
              li.course-card__item
                svg(version="1.1", xmlns="http://www.w3.org/2000/svg", width="24px", height="24px")
                  use(xlink:href="#start-sign")
                span.course-card__item-text!= item.status
    a.course-card__btn.btn(href=item.link) Перейти на сайт курса
