.course-card {
  position: relative;
  width: 100%;
  margin-bottom: 18px;
  box-sizing: border-box;

  &:hover,
  &:focus {

    & .course-card__btn {
      display: inline-block;
    }

    & .course-card__column {
      padding-bottom: 110px;
    }
  }
}

.course-card__link {
  display: flex;
  align-items: stretch;
  width: 100%;
  box-sizing: border-box;
  line-height: 0;
  text-decoration: none;
}

.course-card__img-wrapper {
  position: relative;
  z-index: 1;
  width: 235px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-image: url("../img/course-001.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;

  &--intensive {
    background-image: url("../img/course-school-1.jpg");
  }

  &--remember-all {
    background-image: url("../img/course-school-2.jpg");
  }

  &--armour-learn {
    background-image: url("../img/course-school-3.jpg");
  }

  &::before {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 28px;
    bottom: 0;
    border-top: 1px solid #ecedf2;
    border-bottom: 1px solid #ecedf2;
    background-image: url("../img/course-shape.png");
    background-repeat: no-repeat;
    background-size: 28px 100%;
    background-position: 0 0;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/course-shape@2x.png");
    }
  }

  /*   @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/course-001@2x.jpg");
  } */
}

.course-card__column {
  position: relative;
  width: 68%;
  margin-left: -28px;
  padding-left: 67px;
  padding-right: 47px;
  padding-top: 30px;
  border-right: 1px solid $border-color;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  border-radius: 3px;
  transition: 0.3s;
}

.course-card__title {
  @include subtitle;
}

.course-card__text {
  max-width: 98%;
  margin-top: 22px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 30px;
  color: $main-text-color;
}

.course-card__info {
  position: relative;
  width: 100%;
  margin-top: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
  box-sizing: border-box;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: $border-color;
  }
}

.course-card__list {
  @include list-reset;
  display: flex;
}

.course-card__item {
  display: flex;
  align-items: center;
  margin-right: 40px;
  line-height: 1.3;

  &:last-child {
    margin-right: 0;
  }
}

.course-card__item-text {
  margin-left: 8px;
  font-size: 16px;
  color: $secondary-text-color;
}

.course-card__btn {
  position: absolute;
  left: 257px;
  bottom: 2px;
  display: none;
  min-width: 267px;
  margin-bottom: 39px;
  padding-top: 24px;
  padding-bottom: 26px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 20px;
  color: $navigation-text-color;
  background-color: $main-cover-color;
  transition: 0.5s;

  &:hover,
  &:focus {
    background-color: $main-cover-shadow-color;
  }

  @media (min-width: 1364px) {
    left: 274px;
  }
}
