.page {
  position: relative;
  z-index: 1;
  display: flex;
  min-height: 100%;
  width: 100%;
  padding-left: 250px;
  box-sizing: border-box;

  &--narrow-nav {
    padding-left: 84px;
  }
}

.page__header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  width: 250px;
  background-color: $main-cover-color;
  box-sizing: border-box;
  max-height: 100%;
  height: 100%;
  overflow-y: auto;

  &--narrow {
    width: 84px;

    .logo__title {
      display: none;
    }

    &:hover {
      width: 250px;

      .nav__link-text {
        display: inline-block;
      }

      .nav__toggle {
        display: inline-block;
      }

      .logo img {
        width: 65px;
        height: 77px;
      }

      .logo__title {
        display: inline-block;
      }

      .copyright--hidden {
        display: block;
      }
    }
  }

  &--expand {
    width: 500px;
  }
}

.page__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  box-sizing: border-box;
}

.page__content {
  position: relative;
  z-index: 1;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;

  @media (min-width: 1364px) {
    width: 1000px;
  }

  @media (min-width: 1600px) {
    width: 1180px;
  }
}

.page__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 32px;
}

.page__notification {
  position: absolute;
  right: 17px;
  top: 20px;

  svg {
    fill: $negative-accent-color;
    transition: 0.5s;
  }

  &:hover svg,
  &:focus svg {
    fill: $important-accent-color;
  }

  /* используется, чтобы сдвинуть колокольчик право, если на странице нет хлебных крошек */
  &--margin {
    margin-left: auto;
  }

  &--hidden {
    display: none;
  }
}

.page__note-text {
  @include visually-hidden;
}

.page__title {
  @include visually-hidden;
}
