body.page
  div(style="display:none")
    include ../../img/sprite.svg
  //- button.page__notification.btn(type="button")
  //-   span.page__note-text ваши уведомления
  //-   svg(version="1.1", xmlns="http://www.w3.org/2000/svg", width="26px", height="28px")
  //-     use(xlink:href="#ring-icon")
  block header
    header.page__header
      .page__container
        block logo
          include ../logo/logo
        block nav
          include ../nav/nav
        block copyright
          include ../copyright/copyright
  block content
  //- include ../../blocks/modal-notification/modal-notification

  if (!developmentMode)
    if (pageId !== 0)
      include ../../widgets/vk.html
    else
      //- include ../../widgets/vk--group.html
      include ../../widgets/vk--main-page.html

  script(src="js/script.js")