mixin subject-kim(subject)
  include ../../blocks/subjects-header/subjects-header
  include ../../blocks/variants/variants

  - var subjectsInfo = require('./source/blocks/subjects-kim/data');

  section.subjects-kim
    h1.subjects-kim__title варианты для подготовки к егэ
    +subject-header(subjectsInfo.find((it) => it.type === subject), true)
    .subjects-kim__variants.variants
      +variants(subjectsInfo.find((it) => it.type === subject))
    h2.subjects-kim__subtitle!= "Как мы&nbsp;оцениваем ваше решение"
    p.subjects-kim__text!= "Вариант делится на&nbsp;две части. Первая часть&nbsp;&mdash; тест, после завершения которого баллы подсчитываются автоматически согласно стандартной шкале конвертации баллов ЕГЭ."
    p.subjects-kim__text!= "Задания второй части проверяются платно, поэтому они отмечены желтыми &laquo;монетками&raquo;. Стоимость проверки одного варианта&nbsp;&mdash; <b>199&nbsp;рублей</b>. Проверку осуществляют опытные преподаватели. Ты&nbsp;получишь письмо на&nbsp;почту, в&nbsp;котором увидишь итоговый балл, подробный разбор сделанных ошибок и&nbsp;рекомендации, способные улучшить результат."