.subjects-kim {
  margin-top: 50px;
  margin-bottom: 89px;
}

.subjects-kim__title {
  @include visually-hidden;
}

.subjects-kim__subtitle {
  @include main-title;
}

.subjects-kim__text {
  @include main-text;
  max-width: 97%;
  margin-top: 35px;
}

.subjects-kim__variants {
  margin-top: 98px;
  margin-bottom: 126px;
}
