// стили для полифилла wicg-focus-ring
.js-focus-ring :focus:not(.focus-ring) {
  outline-width: 0;
}

body {
  min-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-family: $main-font;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.3;
  background-color: $secondary-cover-color;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: cover;
}
