@font-face {
  font-family: "Roboto";
  src:
  url("../fonts/roboto-regular.woff") format("woff"),
  url("../fonts/roboto-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
  url("../fonts/roboto-medium.woff") format("woff"),
  url("../fonts/roboto-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
  url("../fonts/roboto-bold.woff") format("woff"),
  url("../fonts/roboto-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
  url("../fonts/roboto-black.woff") format("woff"),
  url("../fonts/roboto-black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Slab";
  src:
  url("../fonts/roboto-slab-regular.woff") format("woff"),
  url("../fonts/roboto-slab-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
