@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin main-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $secondary-font;
  font-size: 50px;
  font-weight: normal;
  line-height: 60px;
  letter-spacing: -0.3px;
  color: $heading-color;
}

@mixin subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $secondary-font;
  font-size: 25px;
  font-weight: normal;
  line-height: 30px;
  color: $heading-color;
}

@mixin main-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 35px;
  color: $main-text-color;
}

@mixin link {
  text-decoration: none;
  color: $heading-color;
  letter-spacing: -0.5px;
  transition: 0.5s;
  border-bottom: 1px solid rgba($heading-color, 0.15);
  cursor: pointer;

  &:hover,
  &:focus {
    border-bottom: 1px solid rgba($main-cover-color, 0);
    color: $main-cover-color;
  }
}
