// Файл с SASS переменными

// сеточные ширины для медиа-запросов
$desktop-viewport-narrow: 1280px;
$desktop-viewport-standart: 1366px;
$desktop-viewport-wide: 1440px;
$desktop-viewport-widest: 1600px;

// шрифты
$main-font: "Roboto", "Arial", sans-serif;
$secondary-font: "Roboto Slab", "Times New Roman", serif;

// цвета
$main-cover-color: #417dfa;
$main-cover-shadow-color: #285fe1;
$secondary-cover-color: white;
$heading-color: #37467d;
$main-text-color: #191919;
$secondary-text-color: #888888;
$navigation-text-color: white;
$border-color: #ecedf2;
$border-hover-color: #d7d7e1;
$box-shadow-color: rgba(0, 0, 0, 0.08);
$positive-accent-color: #00c3a5;
$positive-accent-color-hover: #00a087;
$intermediate-accent-color: #fab964;
$intermediate-accent-color-hover: #ffaa41;
$neutral-accent-color: #7dc8fa;
$negative-accent-color: #fa7369;
$unimportant-accent-color: #b4b9cd;
$important-accent-color: #f05a4b;
$divider-color: #f5f5ff;
