.modal {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: calc(100% + 2px);
  height: 100%;
  padding-bottom: 200px;
  padding-top: 67px;
  background-color: $secondary-cover-color;

  &--hidden {
    display: none;
  }

  &__close {
    position: fixed;
    z-index: 1;
    top: 22px;
    right: 22px;
    display: block;
    margin-left: auto;

    & svg {
      display: block;
      margin-left: auto;
      stroke: $heading-color;
      transition: 0.5s;
    }

    &:hover {

      & svg {
        stroke: $main-cover-color;
      }
    }
  }

  &__content {
    padding-bottom: 80px;

    .theme-card__name {
      max-width: 67.83%;
    }
  }

  &__form {
    width: 830px;
    margin-left: auto;
    margin-right: auto;
  }

  &__footer {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 84px;
    padding-bottom: 20px;
    box-sizing: border-box;
    background-color: $secondary-cover-color;

    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: -90px;
      width: 170%;
      height: 90px;
      background-image: url("../img/modal-cover.png");
      background-repeat: no-repeat;
      background-size: 100% 90px;
      background-position: -302px 0;
    }
  }

  &__footer-container {
    display: flex;
    align-items: flex-start;
    width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    border-top: 1px solid #ecedf2;
    box-sizing: border-box;
  }

  &__text {
    margin-top: 19px;
    font-size: 16px;
    line-height: 25px;
    color: $main-text-color;
  }

  &__amount {
    font-size: 25px;
    color: $main-cover-color;
  }

  &__number {
    font-size: 16px;
    color: $main-text-color;
  }

  &__reset {
    position: relative;
    margin-left: 41px;
    margin-top: 23px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.5px;
    color: $secondary-text-color;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 3px;
      width: 100%;
      height: 1px;
      background-color: rgba($secondary-text-color, 0.15);
      transition: 0.5s;
    }

    &:hover {
      color: $main-text-color;

      &::after {
        background-color: rgba($secondary-text-color, 0);
      }
    }
  }

  &__submit {
    margin-left: auto;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 24px;
    padding-bottom: 22px;
    border-radius: 3px;
    font-size: 16px;
    line-height: 25px;
    color: $navigation-text-color;
    background-color: $main-cover-color;
    transition: 0.5s;

    &--disabled {
      color: $main-text-color;
      background-color: $border-color;
      pointer-events: none;
    }

    &:hover {
      background-color: $main-cover-shadow-color;
    }
  }
}
