mixin modal(subject)
  - var subjectsInfo = require('./source/blocks/subjects-kim/data');
  - var subjectInfo = subjectsInfo.find((it) => it.type === subject)

  .modal.modal--hidden
    button.btn.modal__close(type="button")
      svg(version="1.1", xmlns="http://www.w3.org/2000/svg", width="24px", height="24px")
        use(xlink:href="#cross-sign")
    form.modal__form(method="post", action=linkToTest + subjectInfo.type + "/mixed/")
      .subjects-header
        h2.subjects-header__title.subjects-header__title--modal Ваш вариант
        .subjects-header__subject
          picture
            source(srcset=subjectInfo.imgs[1])
            img.subjects-header__img(src=subjectInfo.imgs[0], alt=subjectInfo.title, width="80", height="80")
          h3.subjects-header__subtitle= subjectInfo.title
          p.subjects-header__note 2018
      .modal__wrapper.theme.theme--modal
        .theme__header.theme__header--modal
          span.theme__number #
          p.theme__name.theme__name--modal Тема
          p.theme__amount.theme__amount--modal Кол-во заданий
      .modal__content
        each item, index in subjectInfo.themes
          .theme-card
            input.theme-card__checkbox(id="variant-" + (index + 1), type="checkbox", value=index)
            label.theme-card__label(for="variant-" + (index + 1))= item
            .theme-card__amount
              button.btn.theme-card__amount-btn.theme-card__amount-btn--disabled.theme-card__amount-btn--less(type="button")
                svg(version="1.1", xmlns="http://www.w3.org/2000/svg", width="10px", height="6px")
                  use(xlink:href="#arrow-down")
                span.theme-card__amount-note уменьшить
              input.theme-card__amount-text(type="text", value="5", readonly)
              button.btn.theme-card__amount-btn.theme-card__amount-btn--more(type="button")
                svg(version="1.1", xmlns="http://www.w3.org/2000/svg", width="10px", height="6px")
                  use(xlink:href="#arrow-up")
                span.theme-card__amount-note увеличить
        //- .theme-card
          input.theme-card__checkbox#variant-2(type="checkbox")
          label.theme-card__label(for="variant-2") Средства связи предложений в тексте
          .theme-card__amount
            button.btn.theme-card__amount-btn.theme-card__amount-btn--less(type="button")
              svg(version="1.1", xmlns="http://www.w3.org/2000/svg", width="10px", height="6px")
                use(xlink:href="#arrow-down")
              span.theme-card__amount-note уменьшить
            input.theme-card__amount-text(type="text", value="35", readonly)
            button.btn.theme-card__amount-btn.theme-card__amount-btn--disabled.theme-card__amount-btn--more(type="button")
              svg(version="1.1", xmlns="http://www.w3.org/2000/svg", width="10px", height="6px")
                use(xlink:href="#arrow-up")
              span.theme-card__amount-note увеличить
      .modal__footer
        .modal__footer-container
          p.modal__text Вы выбрали
            =" "
            span.modal__amount 0
            =" "
            span.modal__number тем
          button.btn.modal__reset(type="reset") Сбросить
          button.btn.modal__submit.modal__submit--disabled(type="submit") Начать решение варианта