.btn {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s;
}
