.courses {
  margin-top: 78px;
  margin-bottom: 99px;

  &--smaller-margin {
    margin-top: 59px;
  }
}

.courses__title {
  @include main-title;
}

.courses__text {
  @include main-text;
  max-width: 97%;
  margin-top: 33px;
}

.courses__wrapper {
  margin-top: 90px;
}
