include ../course-card/course-card

- var list = require("./source/blocks/courses/data.js");


section.courses.courses--smaller-margin
  h1.courses__title Курсы
  p.courses__text!= "Чувствуешь, что экзамен совсем скоро, и&nbsp;сомневаешься, что сможешь набрать необходимый балл? Мы&nbsp;предлагаем тебе обрести уверенность с&nbsp;помощью этих курсов. Они помогут стать на&nbsp;шаг ближе к&nbsp;поступлению в&nbsp;лучшие ВУЗы страны."
  .courses__wrapper
    each item in list
      +course-card(item)