mixin subject-card(item)
  .subject-card(class=item.mod ? (item.mod.map((it) => "subject-card--" + it).join(" ")) : "", data-label=item.dataCaption && item.dataCaption )
    a.subject-card__link(href=!(item.mod && item.mod.includes("in-process")) && item.link)
      h2.subject-card__title(data-caption=item.data && item.data)!= item.title
      .subject-card__pic
        svg(version="1.1", xmlns="http://www.w3.org/2000/svg", width="40px", height="40px")
          use(xlink:href="#" + item.code)
      .subject-card__img-wrapper
        picture
          source(srcset=item.imgs[1])
          img.subject-card__img(src=item.imgs[0], width="235" height="135" alt=item.title)