.subject-card {
  position: relative;
  display: inline-flex;
  justify-content: center;
  width: 23.4%;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-top: 13px;
  border: solid 1px $border-color;
  border-radius: 3px;
  box-sizing: border-box;
  transition: 0.5s;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &--in-process:hover {

    .subject-card {

      &__title {
        padding-top: 6px;

        &::after {
          content: attr(data-caption);
          display: block;
          // negative margin for mockup compatibility
          margin-top: -8px;
          font-size: 14px;
          line-height: 35px;
          color: $main-text-color;
          text-align: center;
        }
      }
    }
  }

  &--math-base {

    &::after {
      content: attr(data-label);
      position: absolute;
      bottom: 20px;
      z-index: 1;
      display: inline;
      padding-top: 3px;
      padding-right: 24px;
      padding-bottom: 2px;
      padding-left: 24px;
      font-size: 16px;
      line-height: 35px;
      color: $main-text-color;
      text-align: center;
      background-color: $intermediate-accent-color;
      border-radius: 20px;
    }
  }

  &--math-profile {

    &::after {
      content: attr(data-label);
      position: absolute;
      bottom: 20px;
      z-index: 1;
      display: inline;
      padding-top: 3px;
      padding-right: 24px;
      padding-bottom: 2px;
      padding-left: 24px;
      font-size: 16px;
      line-height: 35px;
      color: $secondary-cover-color;
      text-align: center;
      background-color: $negative-accent-color;
      border-radius: 20px;
    }
  }

  &:hover,
  &:focus {
    border-color: transparent;
    box-shadow: 0 0 50px 0 $box-shadow-color;

    .subject-card {

      &__pic {
        opacity: 1;
      }
    }
  }

  @media (min-width: 1364px) {
    width: 23.5%;
  }

  @media (min-width: 1600px) {
    width: 23.73%;
  }

  &__link {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    line-height: 0;
    text-decoration: none;

    picture {
      line-height: 0;
    }
  }

  &__title {
    box-sizing: border-box;
    min-height: 77px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    padding-top: 16px;
    margin-bottom: 0;
    font-family: $secondary-font;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.3;
    text-align: center;
    color: $heading-color;
  }

  &__pic {
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    z-index: 2;
    display: block;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-color: $secondary-cover-color;
    opacity: 0;
    transition: 0.5s;
  }

  &__img-wrapper {
    position: relative;
    z-index: 1;
    line-height: 0;

    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: -1px;
      width: 100%;
      height: 25px;
      background-image: url("../img/subject-shape.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
    }
  }

  &__img {
    width: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
