mixin variants(subject)
  each item in subject.variants
    a.variants__btn(href=linkToTest + subject.type + "/" + item)
      span.variants__text= "Вариант " + item
      span.variants__continue Продолжить
  //- a.variants__btn.variants__btn--new(href="#")
  //-   span.variants__text Вариант 2
  //-   span.variants__continue Продолжить
  //- a.variants__btn.variants__btn--passed(href="#")
  //-   span.variants__text Вариант 3
  //-   span.variants__continue Продолжить
  //- a.variants__btn.variants__btn--continue(href="#")
  //-   span.variants__text Вариант 9
  //-   span.variants__continue Продолжить
  .variants__create
    a.variants__link(href="theme-" + subject.type + ".html")
      svg(version="1.1", xmlns="http://www.w3.org/2000/svg", width="22px", height="22px")
        use(xlink:href="#edit-sign")
      span.variants__link-text Создать свой вариант