.variants {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.variants__btn {
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: block;
  width: 14.89%;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: $navigation-text-color;
  background-color: $heading-color;
  transition: 0.5s;

  &::after {
    position: absolute;
    content: "";
    z-index: 1;
    left: 0;
    top: 0;
    width: 75px;
    height: 100%;
    background-image: url("../img/btn-shape.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 75px 50px;
    transform: translateX(-75px);
    transition: 0.5s;
  }

  &:nth-child(6n) {
    margin-right: 0;
  }

  &:hover {

    &::after {
      transform: translateX(0);
    }
  }

  &--continue {
    color: $main-text-color;
    background-color: $intermediate-accent-color;
    background-image: none;

    .variants__text {
      display: none;
    }

    .variants__continue {
      display: block;
    }

    &:hover {
      background-color: $intermediate-accent-color-hover;

      &::after {
        display: none;
      }
    }
  }

  &--new {

    &::before {
      position: absolute;
      content: "";
      right: 0;
      bottom: 3px;
      width: 28px;
      height: 15px;
      background-image: url("../img/new-sign.svg");
      background-repeat: no-repeat;
    }
  }

  &--passed {

    &::before {
      position: absolute;
      content: "";
      right: 3px;
      bottom: 3px;
      width: 18px;
      height: 15px;
      background-image: url("../img/check-sign.svg");
      background-repeat: no-repeat;
    }
  }

  @media (min-width: 1364px) {
    width: 15%;
  }

  @media (min-width: 1600px) {
    width: 15.25%;
  }
}

.variants__text {
  position: relative;
  z-index: 2;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}

.variants__continue {
  display: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

.variants__create {
  width: 100%;
  margin-top: 23px;
}

.variants__link {
  font-size: 20px;
  line-height: 35px;
  text-decoration: none;
  color: $main-text-color;

  & svg {
    display: inline-block;
    vertical-align: middle;
    fill: $positive-accent-color;
    transition: 0.5s;
  }

  &:hover {

    & svg {
      fill: $positive-accent-color-hover;
    }

    .variants__link-text::after {
      background-color: rgba($main-text-color, 0);
    }
  }
}

.variants__link-text {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 6px;
    width: 100%;
    height: 1px;
    background-color: rgba($main-text-color, 0.15);
    transition: 0.5s;
  }
}
