mixin subject-header(subject, isKIMPage = false)
  .subjects-header
    .subjects-header__btns
      h2.subjects-header__title
        if (isKIMPage === true)
          a.subjects-header__title-link.subjects-header__title-link--active КИМ
        else
          a.subjects-header__title-link(href="subject-" + subject.type + ".html") КИМ
      h2.subjects-header__title
        if (isKIMPage === true)
          a.subjects-header__title-link(href="theme-" + subject.type + ".html") Тема
        else
          a.subjects-header__title-link.subjects-header__title-link--active Тема
    .subjects-header__subject
      picture
        source(srcset=subject.imgs[1])
        img.subjects-header__img(src=subject.imgs[0], alt=subject.title, width="80", height="80")
      h3.subjects-header__subtitle= subject.title
      p.subjects-header__note 2018
    //- .subjects-header__link-wrapper
    //-   a.subjects-header__link(href="#")
    //-     svg(version="1.1", xmlns="http://www.w3.org/2000/svg", width="20px", height="24px")
    //-       use(xlink:href="#variant-sign")
    //-     span.subjects-header__link-text Продолжить вариант 9