.subjects-header {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.subjects-header__btns {
  position: relative;
  display: flex;
  margin-right: 39px;
  margin-top: 10px;

  &::after {
    position: absolute;
    content: "";
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $border-color;
  }
}

.subjects-header__title {
  @include main-title;
  margin-right: 39px;

  &:last-child {
    margin-right: 0;
  }

  &--modal {
    margin-right: 57px;
    margin-top: 9px;
  }
}

.subjects-header__title-link {
  position: relative;
  display: block;
  padding-bottom: 9px;
  text-decoration: none;
  color: $heading-color;
  transition: 0.5s;

  &:hover {
    color: $main-cover-color;
  }

  &--active {

    &:hover {
      color: $heading-color;
    }

    &::after {
      position: absolute;
      content: "";
      z-index: 2;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: $main-cover-color;
    }
  }
}

.subjects-header__subject {
  position: relative;
  display: flex;
  align-items: center;

  picture {
    line-height: 0;
  }
}

.subjects-header__img {
  width: 80px;
  height: 80px;
  margin-right: 9px;
  border-radius: 50%;
}

.subjects-header__subtitle {
  font-size: 20px;
  font-weight: normal;
  line-height: 35px;
  color: $main-text-color;
}

.subjects-header__note {
  position: relative;
  top: -20px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: 0.3px;
  color: $navigation-text-color;
  background-color: $positive-accent-color;
}

.subjects-header__link-wrapper {
  margin-left: auto;
  margin-right: 3px;
  margin-top: 21px;
}

.subjects-header__link {
  font-size: 20px;
  line-height: 35px;
  text-decoration: none;
  color: $main-text-color;

  & svg {
    display: inline-block;
    vertical-align: middle;
    fill: $intermediate-accent-color;
    transition: 0.5s;
  }

  &:hover {

    .subjects-header__link-text::after {
      background-color: rgba($main-text-color, 0);
    }

    svg {
      fill: $intermediate-accent-color-hover;
    }
  }
}

.subjects-header__link-text {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 6px;
    width: 100%;
    height: 1px;
    background-color: rgba($main-text-color, 0.15);
    transition: 0.5s;
  }
}
