.teachers {
  margin-top: 60px;
  margin-bottom: 80px;
}

.teachers__title {
  @include main-title;
}

.teachers__text {
  @include main-text;
  max-width: 95%;
  margin-top: 34px;
}

.teachers__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 79px;
}

.teachers__column {
  display: flex;
  flex-direction: column;
  width: 49.1%;
}
