include ../teacher-card/teacher-card

- var list = require('./source/blocks/teachers/data');

section.teachers
  h1.teachers__title Преподаватели
  p.teachers__text!= "В&nbsp;нашем проекте участвуют опытные преподаватели, которые занимаются составлением вариантов ЕГЭ и&nbsp;их&nbsp;оценкой после сдачи экзамена, а&nbsp;также осуществляют проверку заданий второй части КИМов. С&nbsp;их&nbsp;помощью ты&nbsp;сможешь узнать свой итоговый балл, получить рекомендации, а&nbsp;также увидеть подробный разбор ошибок."
  .teachers__container
    .teachers__column
      each item in list.slice(0, Math.ceil(list.length / 2))
        +teacher-card(item)
    .teachers__column
      each item in list.slice(Math.ceil(list.length / 2))
        +teacher-card(item)