mixin theme-card(subject)
  each item, index in subject.themes
    .theme-card.variants
      span.theme-card__number= index + 1
      p.theme-card__name= item
      .theme-card__amount
        button.btn.theme-card__amount-btn.theme-card__amount-btn--disabled.theme-card__amount-btn--less(type="button")
          svg(version="1.1", xmlns="http://www.w3.org/2000/svg", width="10px", height="6px")
            use(xlink:href="#arrow-down")
          span.theme-card__amount-note уменьшить
        input.theme-card__amount-text(type="text", value="5", readonly)
        button.btn.theme-card__amount-btn.theme-card__amount-btn--more(type="button")
          svg(version="1.1", xmlns="http://www.w3.org/2000/svg", width="10px", height="6px")
            use(xlink:href="#arrow-up")
          span.theme-card__amount-note увеличить
      a.theme-card__link.variants__btn(href=linkToTest + subject.type + "/mixed/" + index + "=5")
        span.variants__text Отработать
        span.variants__continue Продолжить
  //- .theme-card.variants
  //-   span.theme-card__number 2
  //-   p.theme-card__name Средства связи предложений в тексте
  //-   .theme-card__amount
  //-     button.btn.theme-card__amount-btn.theme-card__amount-btn--less(type="button")
  //-       svg(version="1.1", xmlns="http://www.w3.org/2000/svg", width="10px", height="6px")
  //-         use(xlink:href="#arrow-down")
  //-       span.theme-card__amount-note уменьшить
  //-     input.theme-card__amount-text(type="text", value="35", readonly)
  //-     button.btn.theme-card__amount-btn.theme-card__amount-btn--disabled.theme-card__amount-btn--more(type="button")
  //-       svg(version="1.1", xmlns="http://www.w3.org/2000/svg", width="10px", height="6px")
  //-         use(xlink:href="#arrow-up")
  //-       span.theme-card__amount-note увеличить
  //-   a.theme-card__link.variants__btn.variants__btn--passed(href="#")
  //-     span.variants__text Отработать
  //-     span.variants__continue Продолжить
  //- .theme-card.variants
  //-   span.theme-card__number 3
  //-   p.theme-card__name Грамматика. Морфология, нормы построения слов
  //-   .theme-card__amount
  //-     button.btn.theme-card__amount-btn.theme-card__amount-btn--less(type="button")
  //-       svg(version="1.1", xmlns="http://www.w3.org/2000/svg", width="10px", height="6px")
  //-         use(xlink:href="#arrow-down")
  //-       span.theme-card__amount-note уменьшить
  //-     input.theme-card__amount-text(type="text", value="25", readonly)
  //-     button.btn.theme-card__amount-btn.theme-card__amount-btn--more(type="button")
  //-       svg(version="1.1", xmlns="http://www.w3.org/2000/svg", width="10px", height="6px")
  //-         use(xlink:href="#arrow-up")
  //-       span.theme-card__amount-note увеличить
  //-   a.theme-card__link.variants__btn.variants__btn--new(href="#")
  //-     span.variants__text Отработать
  //-     span.variants__continue Продолжить
  //- .theme-card.variants
    span.theme-card__number 4
    p.theme-card__name Знаки препинания в простом осложненном предложении — однородные члены предложения — и в сложносочиненном предложении
    .theme-card__amount
      button.btn.theme-card__amount-btn.theme-card__amount-btn--disabled.theme-card__amount-btn--less(type="button")
        svg(version="1.1", xmlns="http://www.w3.org/2000/svg", width="10px", height="6px")
          use(xlink:href="#arrow-down")
        span.theme-card__amount-note уменьшить
      input.theme-card__amount-text(type="text", value="5", readonly)
      button.btn.theme-card__amount-btn.theme-card__amount-btn--more(type="button")
        svg(version="1.1", xmlns="http://www.w3.org/2000/svg", width="10px", height="6px")
          use(xlink:href="#arrow-up")
        span.theme-card__amount-note увеличить
    a.theme-card__link.variants__btn.variants__btn--continue(href="#")
      span.variants__text Отработать
      span.variants__continue Продолжить
