.theme-card {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding-top: 19px;
  padding-bottom: 20px;
  border-top: 1px solid $border-color;

  &:last-child {
    border-bottom: 1px solid $border-color;
    padding-bottom: 30px;
  }
}

.theme-card__number {
  display: block;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  color: $heading-color;
}

.theme-card__name {
  max-width: 59.57%;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 35px;
  color: $main-text-color;

  @media (min-width: 1364px) {
    max-width: 59.5%;
  }

  @media (min-width: 1600px) {
    max-width: 59.32%;
  }
}

.theme-card__amount {
  display: flex;
  justify-content: space-between;
  min-width: 150px;
  margin-left: auto;
  border: 1px solid $border-color;
  border-radius: 3px;
}

.theme-card__amount-btn {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 17px;
  cursor: pointer;

  & svg {
    fill: $main-cover-color;
    transition: 0.5s;
  }

  &:hover {

    & svg {
      fill: $main-cover-shadow-color;
    }
  }

  &--disabled {

    & svg {
      fill: rgba($main-cover-color, 0.35);
    }

    &:hover {

      & svg {
        fill: rgba($main-cover-color, 0.35);
      }
    }
  }
}

.theme-card__amount-text {
  display: block;
  min-width: 1px;
  width: 50px;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  padding-top: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  color: $heading-color;
}

.theme-card__link {
  margin-left: 20px;
  margin-right: 0;
  margin-bottom: 0;
}

.theme-card__amount-note {
  @include visually-hidden;
}

.theme-card__checkbox {
  @include visually-hidden;
}

.theme-card__label {
  position: relative;
  display: block;
  max-width: 59.57%;
  margin-left: 52px;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 35px;
  color: $main-text-color;

  &::before {
    position: absolute;
    content: "";
    left: -50px;
    top: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $border-color;
    border-radius: 3px;
    box-sizing: border-box;
    transition: 0.5s;
  }

  &:hover::before {
    border-color: $border-hover-color;
  }

  @media (min-width: 1364px) {
    max-width: 59.5%;
  }

  @media (min-width: 1600px) {
    max-width: 59.32%;
  }
}

.theme-card__checkbox:checked + .theme-card__label::before {
  width: 31px;
  height: 31px;
  border-color: transparent;
  background-image: url("../img/checkbox-checked-sign.svg");
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
