.copyright
  p.copyright__text.copyright__text--emphasize!= "Звоните&nbsp;нам +7&nbsp;(499)&nbsp;130&nbsp;16&nbsp;80"
  a.copyright__link(class=(pageId === 6) && "copyright__link--active", href=(pageId !== 6) && "credentials.html") Реквизиты компании
  a.copyright__link(href="offer.pdf" target="_blank") Заявление об авторском праве
  a.copyright__link(href="privacy-policy.pdf" target="_blank") Политика конфиденциальности
  p.copyright__developer
    span.copyright__developer-name Разработка инструмента
    a.copyright__developer-link(href="//donepro.ru" target="_blank")
      span перейти на сайт разработчика