.copyright {
  max-width: 165px;
  margin-top: auto;
  margin-left: 30px;
  margin-bottom: 30px;

  &--hidden {
    display: none;
  }

  &__text {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 15px;
    color: $heading-color;

    &--emphasize {
      color: $secondary-cover-color;
    }
  }

  &__link {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    line-height: 15px;
    text-decoration-color: rgba($heading-color, 0.25);
    color: $heading-color;
    transition: 0.5s;

    &--active {
      color: $navigation-text-color;
      text-decoration-color: rgba($heading-color, 0);
      pointer-events: none;
    }

    &:hover,
    &:focus {
      color: $navigation-text-color;
      text-decoration-color: rgba($heading-color, 0);
    }
  }

  &__developer {
    margin-top: 15px;
    margin-bottom: 0;
  }

  &__developer-name {
    display: block;
    font-size: 14px;
    line-height: 15px;
    color: $heading-color;
  }

  &__developer-link {
    display: block;
    width: 101px;
    height: 21px;
    margin-top: 5px;
    font-size: 14px;
    line-height: 15px;
    color: $heading-color;
    background-image: url("../img/copyright-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    transition: 0.3s;

    span {
      @include visually-hidden;
    }

    &:hover,
    &:focus {
      background-image: url("../img/copyright-logo-hover.png");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/copyright-logo-hover@3x.png");
      }
    }

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/copyright-logo@3x.png");
    }
  }
}
