section.credentials
  h1.credentials__title Реквизиты компании
  p.credentials__text!= "ИП&nbsp;Ткачева&nbsp;А.&nbsp;Д. <br>ОГРНИП 316965800186653 <br>ИНН 663000404518 <br> info@podgotovkakege.com&nbsp;/ +7 (499)&nbsp;130-16-80"
