.breadcrumbs__list {
  @include list-reset;
  display: flex;
}

.breadcrumbs__item {
  position: relative;
  padding-right: 15px;
  line-height: 19px;

  &::after {
    position: absolute;
    content: "/";
    right: 3px;
    top: 0;
    font-family: $main-font;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.3;
    color: $secondary-text-color;
  }

  &:last-child {

    &::after {
      display: none;
    }
  }
}

.breadcrumbs__link {
  color: $secondary-text-color;
  letter-spacing: -0.5px;
  text-decoration: none;
  transition: 0.5s;

  &:not(.breadcrumbs__link--active) {
    border-bottom: 1px solid rgba($secondary-text-color, 0.15);

    &:hover,
    &:focus {
      border-bottom: 1px solid rgba($secondary-text-color, 0);
      color: $main-text-color;
    }
  }
}
