mixin breadcrumbs(item)
  ul.breadcrumbs__list
    li.breadcrumbs__item
      a.breadcrumbs__link(href="index.html") Главная
    li.breadcrumbs__item
      a.breadcrumbs__link.breadcrumbs__link--active= item
