.nav {
  padding-top: 12px;
  margin-top: auto;

  &--narrow {
    margin-top: 155px;

    .nav__link-text {
      display: none;
    }

    .nav__toggle {
      display: none;
    }
  }

  &__list {
    @include list-reset;
  }

  &__item {
    position: relative;
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: 0;
    }

    &--sublist {

      &::before {
        content: none;
        position: absolute;
        right: 0;
        top: 88px;
        bottom: 0;
        z-index: 100;
        width: 50px;
        height: 339px;
        margin-top: auto;
        margin-bottom: auto;
      }

      &:hover {

        &::before {
          content: "";
        }

        .nav {

          &__sublist--hidden {
            display: block;
          }

          &__toggle {
            background-image: url("../img/nav-toggle-open.svg");
          }
        }
      }
    }
  }

  &__link {
    display: block;
    width: 100%;
    padding-left: 30px;
    box-sizing: border-box;
    line-height: 19px;
    letter-spacing: -0.2px;
    text-decoration: none;
    color: $navigation-text-color;

    & svg {
      display: inline-block;
      vertical-align: middle;
      fill: $secondary-cover-color;
      transition: 0.5s;
    }

    &:hover,
    &:focus {

      & svg {
        fill: $neutral-accent-color;
      }
    }

    &--active {

      & svg {
        fill: $neutral-accent-color;
      }
    }
  }

  &__link-text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
  }

  &__toggle {
    position: absolute;
    right: 11px;
    top: 6px;
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 12px;
    background-image: url("../img/nav-toggle-closed.svg");
    background-repeat: no-repeat;
    background-position: left center;

    &--open {
      background-image: url("../img/nav-toggle-open.svg");
    }
  }

  &__text-note {
    @include visually-hidden;
  }

  &__sublist {
    position: fixed;
    left: 250px;
    top: 0;
    z-index: 2;
    display: block;
    max-height: 100%;
    height: 100%;
    overflow-y: auto;
    transition: 0.5s;
    opacity: 1;

    &--hidden {
      display: none;
    }
  }

  &__number {
    position: absolute;
    top: 3px;
    right: 110px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    font-size: 11px;
    line-height: 14px;
    font-weight: 900;
    color: $navigation-text-color;
    background-color: $negative-accent-color;
  }
}
