-
  var list = [{
    title: "Главная",
    height: 22,
    pageCode: "index-page-sign",
    path: "index.html",
    pageId: 0
  }, {
    title: "Предметы",
    height: 20,
    pageCode: "subject-page-sign",
    isSublist: true,
    pageId: 1
  }, {
    title: "Курсы",
    height: 26,
    pageCode: "courses-page-sign",
    path: "courses.html",
    pageId: 2
  }, {
    title: "Преподаватели",
    height: 24,
    pageCode: "teachers-page-sign",
    path: "teachers.html",
    pageId: 3
  }, {
    title: "О проекте",
    height: 26,
    pageCode: "about-page-sign",
    path: "about.html",
    pageId: 4
  }]

nav.nav
  ul.nav__list
    each item in list
      li.nav__item(class=item.isSublist ? "nav__item--sublist" : "")
        a.nav__link(class=(pageId === item.pageId) && "nav__link--active",href=(pageId !== item.pageId && !item.isSublist) && item.path)
          svg(version="1.1", xmlns="http://www.w3.org/2000/svg", width="26px", height= item.height + "px")
            use(xlink:href= "#" + item.pageCode)
          span.nav__link-text&attributes(attributes)= item.title
        if item.isSublist
          button.nav__toggle.btn(type="button")
            span(class="nav__text-note") открыть список предметов
          include ../subjects-list/subjects-list
        //- if item.pageCode === 'courses-page-sign'
        //-   span.nav__number 3