-
  var subjects = [{
      title: "Русский язык",
      code: "russian-language",
      link: "subject-russian.html"
    }, {
      title: "Литература",
      code: "literature",
      link: "subject-literature.html"
    }, {
      title: "История",
      code: "history",
      link: "subject-history.html"
    }, {
      title: "Обществознание",
      code: "social-science",
      link: "subject-social.html"
    }, {
      title: "Математика (базовая)",
      code: "mathematics",
      link: "subject-mathematics.html"
    }/*, {
      title: "Математика (профиль)",
      code: "mathematics",
      link: "subject-mathematics-profile.html"
    }, {
      title: "Физика",
      code: "physics",
      link: "subject-physics.html"
    }, {
      title: "Химия",
      code: "chemistry",
      link: "subject-chemistry.html"
    }, {
      title: "Биология",
      code: "biology",
      link: "subject-biology.html"
    }, {
      title: "География",
      code: "geography",
      link: "subject-geography.html"
    }, {
      title: "Информатика",
      code: "computer-science",
      link: "subject-computer.html"
    }, {
      title: "Английский",
      code: "english-language",
      link: "subject-english.html"
    }, {
      title: "Немецкий",
      code: "german",
      link: "subject-german.html"
    }, {
      title: "Французский",
      code: "french",
      link: "subject-french.html"
    }, {
      title: "Испанский",
      code: "spanish",
      link: "subject-spanish.html"
  }*/];

ul.nav__sublist.nav__sublist--hidden.subjects-list
  each item in subjects
    li.subjects-list__subitem
      a.subjects-list__link(href=item.link)
        svg(version="1.1", xmlns="http://www.w3.org/2000/svg", width="40px", height="40px")
          use(xlink:href="#" + item.code)
        span.subjects-list__link-text= item.title
