.subjects-list {
  @include list-reset;
  min-width: 250px;
  padding-top: 20px;
  box-sizing: border-box;
  background-color: $main-cover-shadow-color;
}

.subjects-list__subitem {
  margin-bottom: 10px;
  padding-left: 20px;
}

.subjects-list__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $navigation-text-color;

  & svg {
    fill: $secondary-cover-color;
    transition: 0.5s;
  }

  &:hover,
  &:focus {

    svg {
      fill: $neutral-accent-color;
    }
  }
}

.subjects-list__link-text {
  margin-left: 9px;
}
