<script type="text/javascript" src="//vk.com/js/api/openapi.js?152"></script>

<!-- VK Widget -->
<!-- <div id="vk_groups"></div> -->
<script type="text/javascript">
  VK.Widgets.Group("vk_groups", { mode: 3, no_cover: 1, width: "auto" }, 107679692);
</script>